.project {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: 480px;
    justify-content: center;
    grid-gap: 10px;
    border-bottom: 1px solid;
  }
.web{
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 5%;
  text-align: center;
}
.project h1 {
  font-weight: 400;
  margin-bottom: 20px;
}
.project .item1{
  height: 270px;
  text-align: center;
  display: grid;
  align-content: center;
}
.project .item3{
  height: 270px;
  text-align: center;
  display: grid;
  align-content: center;
}
.project .item2{
  grid-column: 1/-1;
  height: 100px;
  width: 100%;  
}
.project .item2 p{
  font-weight: 400;
  margin-left: 20px;
}
.project .item2 .tech{
  border: 1px solid;
  display: inline;
  margin: 0px 10px 0 20px;
  border-radius: 30%;
  padding: 4px 10px 4px 10px;
}
.project .img{
  border-radius: 1%;
  border: 2px solid rgb(204, 186, 94);
}
.project .gitlink{
  display:none ;
}
box-icon{
  fill :rgb(204, 186, 94);
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 0;
  margin-right: 10px;
}
box-icon:hover{
  fill: #bbb;
}
@media screen and (max-width:1100px) {
  .project{
    max-width: 700px;
    height: 400px;
  }
  .project .item1,.project .item3{
    height: 220px;
  }
}
@media screen and (max-width:1000px) {
  .project{
    max-width: 600px;
  }
  .project .item1,.project .item3{
    height: 190px;
  }
}
@media screen and (max-width:890px) {
  .project{
    grid-template-columns: 1fr;
    height: 600px;
  } 
  .project .item1{
    height: 40px;
    margin-bottom: 0;
  }
  .project .item3{
    height: 300px;
  }
  .project .gitshow{
    display:none ;
  }
  .project .gitlink{
    display:block ;
  }
  .project .gitlink box-icon{
    float: right;
  }
}